{% extends 'watering/base.html' %}

{% block title %}
<title>Watering list</title>
{% endblock %}

{% block content %}
<div class="container">

  <!-- title row -->
  <div class="row">
    <div class="offset-md-2 col-lg-9">
      <div class="page-header">
        <h1>
          Watering List
        </h1>
      </div>
    </div>
  </div>

  <!-- Add a watering row -->
  <div class="row">
    <div class="offset-md-2 col-lg-9">
      <form method="post" action="{% url 'watering:add' %}">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-md-6">
            <input type="text" class="form-control" name="title" placeholder="Do laundry" required>
          </div>
          <div class="col-md-6">
            <button type="submit" name="submit" class="btn btn-outline-primary">
              Add
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr />

  <!-- watering list row -->
  <div class="row">
    <div class="offset-md-2 col-lg-6">
      <div class="list-group">
        {% for watering in watering_list %}
        <div class="list-group-item {% if watering.isCompleted %} watering-complete {% endif %}">
          <form style="display: inline;" method="post" action="{% url 'watering:update' watering.id %}">
            {% csrf_token %}
            <input type="checkbox" name="isCompleted" onchange="this.form.submit()" {% if watering.isCompleted %} checked
              {% endif %} class="watering-status-checkbox"
              title="{% if not watering.isCompleted %} mark as done {% else %} mark undone {% endif %}">
          </form>
          {{ watering.title }}
          <a href="{% url 'watering:delete' watering.id %}" title="Delete">
            <i class="far fa-trash-alt"></i>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}